* {
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    width: 100%;
}

a {
    text-decoration: none;
    color: #212529;
}

header {
    height: 95px;
    width: 100%;
    padding: 15px 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #22a6b3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 58px;
}

.header__menu {
    width: 550px;
}

.header__menu--list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.header__menu--items {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
    font-size: 16px;
    margin-right: 10px;
}

.header__menu--items:hover {
    color: #22a6b3;
}

.header__menu--items:active {
    border: 1px dotted #22a6b3;
}

.fa-bars {
    display: none;
}

.header__account--list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-btn,
.fa-bell {
    color: white;
    background-color: #22a6b3;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    border: none;
    transition: all 0.3s ease;
}

.user-btn:hover {
    background-color: rgb(0, 192, 112);
}

.fa-bell:hover {
    background-color: rgb(0, 192, 112);
}

.modal-header-logo {
    width: 150px;

}

.modal-title {
    margin-left: 40px;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.logIn-btn,
.signUp-btn {
    background-color: #22a6b3;
    padding: 8px 100px;
    border-radius: 4px;
    color: #fff;
    transition: all 0.2s ease;
    margin-bottom: 20px;
    cursor: pointer;
}

.signUp-btn:hover {
    color: #fff;
    background-color: rgb(0, 192, 112);
}

.logIn-btn:hover {
    color: #fff;
    background-color: rgb(0, 192, 112);
}

.InsignUp-btn-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
}

.InsignUp-btn {
    background-color: #fff;
    color: #22a6b3;
    border: none;
    width: fit-content;
    height: auto;
    padding: 0;
    margin-left: 10px;
    font-size: 15px;
}

.InsignUp-btn:hover {
    color: rgb(0, 192, 112);
    background-color: #fff;
}

.signUp-modal-body,
.logIn-modal-body {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-item-container {
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}

.logIn-input,
.signUp-input {
    font-size: 15px;
    width: 250px;
    height: 30px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.logIn-label {
    margin-right: 20px;
}

/* .signUp-label {
    font-size: ;
} */

.signUp-input {
    align-self: flex-end;
    width: 250px;
    margin-left: 20px;
}

.material-icons-outlined {
    position: absolute;
    right: 40px;
    cursor: pointer;
    color: gray;
}

.errorText {
    color: red;
    font-size: 13px;
    margin-top: 15px;
    height: 15px;
}

#username-errorText {
    margin-bottom: -20px;
    margin-top: 5px;
}

/* End Header */



/* Footer */
footer {
    width: 100%;
    background-color: #eeeeee;
    padding: 60px 100px 40px;
    box-sizing: border-box;
}

.footer__widget {
    display: grid;
    grid-template-columns: 34% 22% 22% 22%;
    grid-column-gap: 30px;
    width: 90%;
}

.footer__widget--container {
    flex: 1;
    height: 265px;
}

.widgetTitle-line {
    background-color: #22a6b3;
    height: 2px;
    width: 60px;
    border: 1px solid #22a6b3;
}

.textWidget>p {
    color: #757575;
    line-height: 2;
}

.footer__menu {
    list-style: none;
    margin-left: -40px;
}

.footer__menu--item {
    cursor: pointer;
    transition: color 0.3s ease;
    color: #757575;
}

.footer__menu>li {
    margin-top: 20px;
}

.footer__menu--item:hover {
    color: #22a6b3;
}

.copyRight {
    color: #555;
    height: 65px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.copyRight>a {
    color: #22a6b3;
    margin-left: 5px;
    margin-right: 5px;
}

.copyRight>a:hover {
    color: rgb(0, 192, 112);
}

.footer__contact {
    display: flex;
    background-color: #22a6b3;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.phone-email {
    display: flex;
}

.phone {
    margin-right: 50px;
}

.phoneEmail-link {
    color: #fff;
    transition: opacity 0.3s ease;
}

.phoneEmail-link:hover {
    opacity: 0.6;
}

.social-navigation>a {
    color: #fff;
    margin-right: 20px;
}

.fa-bars {
    display: none;
}

@media screen and (max-width: 1147px) {
    .footer__widget {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-row-gap: 20px;
    }

    header {
        position: relative;
    }

    .header__menu {
        display: none;
    }

    .header__menu--list {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        background-color: #fff;
        padding-bottom: 10px;
        transition: all 0.5s;
        /* padding: 0px 100px;
        margin-left: -100px; */
        margin-left: -40px;
    }

    .header__menu--items {
        padding: 5px;
        width: 100%;
        font-size: 17px;
        border-bottom: 1px solid rgb(207, 207, 207);
        /* margin-left: -50px; */
    }

    .header__menu--items:active {
        border: 1px solid #22a6b3;
    }

    .header__account--item {
        width: 40px;
        height: 40px;
    }

    .fa-bars {
        display: block;
        font-size: 30px;
        cursor: pointer;
        margin-right: 20px;
    }

    .toggle-display {
        display: block;
    }

}

@media screen and (max-width: 844px) {
    .header__logo {
        height: 50px;
    }

    .header__account--item {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .fa-bars {
        font-size: 28px;
    }

    .footer__contact {
        padding: 0px 30px;
    }

    .footer__widget {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }

    .phoneEmail-link {
        font-size: 13px;
    }

    .social-navigation>a {
        font-size: 13px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 653px) {
    header {
        padding: 0px 10px;
    }

    .header__logo {
        height: 40px;
    }

    .header__account--item {
        width: 28px;
        height: 28px;
    }

    .fa-bars {
        font-size: 25px;
    }

    footer {
        padding: 0px 20px;
    }

    .footer__widget {
        grid-row-gap: 10px;
    }

    .copyRight {
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
    }

    .footer__contact {
        flex-wrap: wrap;
        line-height: 2;
        height: auto;
    }

}

/* CSS Main */
.main {
    background-color: #F9F9F9;
    /* height: fit-content; */
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.grid-item {
    margin-top: 50px;
    /* height: 1800px; */
    border-radius: 5px;
}

.left-container {
    font-size: 50px;
    background-color: #fff;
    flex: 2.3;
    margin-right: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.carousel {
    margin-bottom: 100px;
}

.carousel>img {
    width: 100%;
    height: 100%;
}

.description>p {
    font-size: 1rem;
    line-height: 1.5;
    color: #757575;
}

.tripDetail-navBar > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 50px;
}

.tripDetail-navBar > ul >li {
    cursor: pointer;
    background-color: #f5f5f5;
    height: 60px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #22a6b3;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-size: 25px;
}

.tripDetail-navBar > ul >li:hover {
    background-color: #22a6b3;
    color: #fff;
}

.overView-content {
    margin-top: 50px;
}

.overView-content >p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.itinerary-content >p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.tab-title {
    margin-top: 50px;
}

.tab-underline {
    width: 80px;
    height: 3px;
    background-color: #22a6b3;
    margin-bottom: 30px;
}

.fa-circle-check {
    color: #51aa3d;
    margin-right: 20px;
    font-size: 20px;
}

.include-item {
    font-size: 16px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.fa-circle-xmark {
    color: red;
    margin-right: 20px;
    font-size: 20px;
}

.question {
    font-size: 25px;
    color: #22a6b3;
    margin-bottom: 10px;
}
.answer {
    margin-bottom: 50px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* margin-top: 100px; */
}

.right-item {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.right-item+.right-item {
    margin-top: 30px;
}

.item-1 {
    padding-bottom: 20px;
}

.saleAmount {
    background-color: #ea7810;
    max-width: fit-content;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 15px;
    padding: 5px 12px;
    margin: 20px;
}

.price-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9f8f2;
    height: 100px;
}

.actual-price {
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.per-adult {
    font-weight: 500;
    font-size: 15px;
}

.striked-price {
    font-size: 15px;
}

.striked-price>span {
    color: rgb(0, 192, 112);
    text-decoration: line-through;
}

.checkBtn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    padding: 10px 0px 20px 0px;
}

.checkBtn {
    width: 80%;
    height: 45px;
    background-color: #22a6b3;
    border: 0;
    border-radius: 5px;
    /* margin-left: 8%; */
    color: white;
    font-size: 18px;
}

.checkBtn:hover {
    background-color: #22B377;
    cursor: pointer;
}

.check-modal-dialog {
    /* margin: 0; */
    /* padding: 0; */
    /* position: relative; */
    /* height: 30vh; */
}

.check-modal-content {
    width: 1200px;
    margin-left: -350px;
    /* position: absolute; */
    /* left: 30%; */
    /* top: 10vh; */
    border-radius: 0;
    display: flex;
    flex-direction: row;
    padding: 8px;
    box-sizing: border-box;
}

.leftSide-container {
    flex: 2;
    border-right: 1px solid rgba(0, 0, 0, 0.03);
    padding: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.rightSide-container {
    flex: 1;
}

.check-modal-close {
    float: right;
}

.package-type-title {
    width: 100%;
    font-weight: 900;
    font-size: 16px;
    padding: 30px 10px 30px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.fa-suitcase-rolling {
    margin-right: 10px;
}

.booking-package-container {
    width: 100%;
    height: 450px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.option-heading > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 100px 10px 100px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
}

.trips-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 20px 100px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.trips-option__select {
    display: flex;
}

.price-per-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actualPrice {
    font-size: 17px;
    font-weight: 900;
}

.strikedPrice {
    color: gray;
    font-size: 12px;
    text-decoration: line-through;
}

.per-person {
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
}

.select-container {
    border-radius: 4px;
    height: 37px;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.select-btn {
    width: 35px;
    height: 35px;
    /* font-size: 20px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0;
    border: none;
    transition: all 0.3s ease;
    border-radius: 4px;
    color: gray;
}

/* .select-btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
} */

.select-number {
    width: 30px;
    height: 35px;
    margin: 0;
    border: none;
    /* padding: 5px;
    box-sizing: border-box; */
    text-align: center;
}

.proceed-checkoutBtn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    margin-top: 200px;
}

.proceed-checkoutBtn {
    width: 250px;
    height: 45px;
    background-color: #22a6b3;
    border: 0;
    border-radius: 5px;
    /* margin-left: 8%; */
    color: white;
    font-size: 15px;
    transition: all 0.5s ease;
    font-weight: 700;
    font-size: 16px;
}

.proceed-checkoutBtn:hover {
    background-color: #22B377;
}

.booking-summary-container {
    padding: 50px 30px;
}

.booking-summary-name {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.calc-price {
    margin-top: 20px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.calc-price > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.total-price {
    font-size: 20px;
    margin-top: 30px;
    float: right;
}

.needHelp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.sendNudes {
    font-size: 15px;
    margin-top: -15px;
    color: #22a6b3;
}

.sendNudes:hover {
    color: #22B377;
    text-decoration: underline;
}

.underline {
    background-color: #22B377;
    width: 60px;
    height: 3px;
    margin-top: 10px;
}

.item-2{
    padding: 30px 30px 50px;
    box-sizing: border-box;
}
.leftSide-item__title {
    font-size: 25px;
    font-weight: 900;
}

.trip-name {
    font-size: 3rem;
    margin-bottom: 30px;
}

.fact-item-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.fact-text {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.fact-text > span {
    font-weight: 500;
}

.fact-icon {
    font-size: 30px;
    color: #22B377;
    margin-right: 20px;
}

.item-3 {
    padding: 30px;
}

.imgPrice-container {
    margin-right: 10px;
}

.featuredTrips-item__container {
    display: flex;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.featuredTrips-item__img {
    width: 113px;
}

.featuredTrips-strikedPrice {
    text-decoration: line-through;
    font-size: 14px;
    color: gray;
}

.featuredTrips-actualPrice {
    color: #22B377;
    font-size: 16px;
    font-weight: 600;
}

.info-container {
    line-height: 2.3;
}

.featuredTrips__saleAmount {
    background-color: #fecd10;
    height: 20px;
    width: 60px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredTrip__name {
    font-size: 14px;
    font-weight: 700;
}

.locatLength-container {
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
}

.featuredTrip__location, .fearturedTrip__length {
    font-size: 13px;
    display: flex;
    min-width: fit-content;
    align-items: center;
    justify-content: space-between;
}

.fa-location-dot, .fa-clock-rotate-left {
    color: #22B377;
}

@media screen and (max-width: 1200px) {
    .tripDetail-navBar >ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-left: -30px;
    }

    .tripDetail-navBar >ul >li {
        width: 100%;
        font-size: 20px;
        height: 40px;
    }

    .check-modal-content {
        width: 700px;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: -100px;
    }
}

@media screen and (max-width: 992px) {
    .right-container{
        flex: 1;
    }

    .trip-name {
        font-size: 25px;
    }

    .left-container{
        flex: 4;
        width: 100%;
    }

    .item-4 > img {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .fact-container {
        display: flex;
        justify-content: space-around;
    }

    .fact-text {
        font-size: 13px;
    }

    .locatLength-container {
        min-width: 150px;
    }

    .footer__widget {
        padding-top: 30px;
    }

    .check-modal-content {
        width: 600px;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        right: -50px;
    }

}

@media screen and (max-width: 600px) {
    .check-modal-content {
        width: 350px;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        right: 30px;
    }

    .booking-package-container {
        padding: 5px;
    }

    .trips-option {
        padding: 5px;
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    .check-modal-content {
        width: 350px;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        right: 5px;
    }
}