* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

#main {
    background-color: #f9f9f9;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #212529;
}

header {
    height: 95px;
    width: 100%;
    padding: 15px 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #22a6b3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 58px;
}

.header__menu {
    width: 550px;
}

.header__menu--list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.header__menu--items {
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
    font-size: 16px;
    margin-right: 10px;
}

.header__menu--items:hover {
    color: #22a6b3;
}

.header__menu--items:active {
    border: 1px dotted #22a6b3;
}

.fa-bars {
    display: none;
}

.header__account--list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-btn, .fa-bell {
    color: white;
    background-color: #22a6b3;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    border: none;
}

.user-btn:hover {
    background-color: rgb(0, 192, 112);
}

.modal-header-logo {
    width: 150px;

}

.modal-title {
    margin-left: 40px;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.signIn-btn, .signUp-btn {
    background-color: #22a6b3;
    padding: 8px 100px;
    border-radius: 4px;
    color: #fff;
    transition: all 0.2s ease;
    margin-bottom: 20px;
}

.signUp-btn:hover {
    color: #fff;
    background-color: rgb(0, 192, 112);
}

.signIn-btn:hover {
    color: #fff;
    background-color: rgb(0, 192, 112);
}

.signUp-btn-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
}

.InsignUp-btn {
    background-color: #fff;
    color: #22a6b3;
    border: none;
    width: fit-content;
    height: auto;
    padding: 0;
    margin-left: 10px;
    font-size: 15px;
}

.InsignUp-btn:hover {
    color: rgb(0, 192, 112);
    background-color: #fff;
}

.modal-body {
    margin-bottom: 30px;
}

.username-container, .password-container, .signUp-username-container, .signUp-password-container, .signUp-email-container {
    width: 80%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    margin-left: 40px;
}

.signIn-input, .signUp-input {
    font-size: 15px;
    width: 250px;
    height: 30px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}


/* End Header */





/* Footer */
footer {
    width: 100%;
    background-color: #eeeeee;
    padding: 60px 100px 40px;
    box-sizing: border-box;
}

.footer__widget {
    display: grid;
    grid-template-columns: 34% 22% 22% 22%;
    grid-column-gap: 30px;
    width: 90%;
}

.footer__widget--container {
    flex: 1;
    height: 265px;
}

.widgetTitle-line {
    background-color: #22a6b3;
    height: 2px;
    width: 60px;
    border: 1px solid #22a6b3;
}

.textWidget>p {
    color: #757575;
    line-height: 2;
}

.footer__menu {
    list-style: none;
    margin-left: -30px;
}

.footer__menu--item {
    cursor: pointer;
    transition: color 0.3s ease;
    color: #757575;
}

.footer__menu>li {
    margin-top: 20px;
}

.footer__menu--item:hover {
    color: #22a6b3;
}

.copyRight {
    color: #555;
    height: 65px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.copyRight>a {
    color: #22a6b3;
    margin-left: 5px;
    margin-right: 5px;
}

.copyRight>a:hover {
    color: rgb(0, 192, 112);
}

.footer__contact {
    display: flex;
    background-color: #22a6b3;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.phone-email {
    display: flex;
}

.phone {
    margin-right: 50px;
}

.phoneEmail-link {
    color: #fff;
    transition: opacity 0.3s ease;
}

.phoneEmail-link:hover {
    opacity: 0.6;
}

.social-navigation > a {
    color: #fff;
    margin-right: 20px;
}

.fa-bars {
    display: none;
}

@media screen and (max-width: 1147px) {
    .footer__widget {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-row-gap: 20px;
    }

    header {
        position: relative;
    }

    .header__menu {
        display: none;
    }

    .header__menu--list {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        background-color: #fff;
        padding-bottom: 10px;
        transition: all 0.5s;
    }

    .header__menu--items {
        padding: 5px;
        width: 100%;
        font-size: 17px;
        border-bottom: 1px solid rgb(207, 207, 207);
        /* margin-left: -50px; */
    }

    .header__menu--items:active {
        border: 1px solid #22a6b3;
    }

    .header__account--item {
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }

    .fa-bars {
        display: block;
        font-size: 30px;
        cursor: pointer;
        margin-right: 20px;
    }

    .toggle-display {
        display: block;
    }

}

@media screen and (max-width: 844px) {
    .header__logo{
        height: 50px;
    }

    .header__account--item {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .fa-bars {
        font-size: 28px;
    }

    .footer__contact {
        padding: 0px 30px;
    }

    .footer__widget {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }

    .phoneEmail-link {
        font-size: 13px;
    }

    .social-navigation > a {
        font-size: 13px;
        margin-right: 10px;
    }

    .header__account--item {
        margin-right: 10px;
    }

    .header__account {
        padding-right: 10px;
    }
}

@media screen and (max-width: 653px) {
    header {
        padding: 0px 10px;
    }
    .header__logo{
        height: 40px;
    }

    .header__account--item {
        width: 28px;
        height: 28px;
    }

    .fa-bars {
        font-size: 25px;
    }

    footer {
        padding: 0px 20px;
    }

    .footer__widget {
        grid-row-gap: 10px;
    }

    .copyRight {
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
    }

    .footer__contact {
        flex-wrap: wrap;
        line-height: 2;
        height: auto;
    }

    .footer__widget {
        padding-top: 20px;
    }
    
}

/* #header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.header-img {
    width: 240px;
    margin-left: 100px;
}

#header-nav {
    display: flex;
    justify-content: space-around;
    width: 55%;
    font-size: 18px;
    line-height: 64px;
    margin-right: 100px;
}

.header-nav-des-sub {
    position: absolute;
    line-height: 40px;
    margin-top: -10px;
    background-color: aquamarine;
    width: 200px;
    display: none;
}

.header-nav-des-sub li {
    margin-left: 20px;
}

.header-nav-actvt-sub {
    display: none;;
}

.header-nav-trip-sub {
    display: none;
}

.header-nav-pages-sub {
    display: none;
} */

#slider {
    background: url(./Img/anhnen1.jpg) top center no-repeat;
    background-size: cover;
    position: relative;
    min-height: 580px;
    filter: brightness(100%);
    z-index: 1;
}

.slider-text-content {
    height: 580px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.text-heading {
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    max-width: 600px;
    font-weight: 900;
}

.text-description {
    color: #fff;
    font-size: 18px;
    margin: 24px 0;
    letter-spacing: 1px;
}

.slider-btn {
    font-size: 16px;
    width: 140px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 4px;
}

.slider-btn:hover {
    cursor: pointer;
    background-color: #22a6b3;
    color: #fff;
}

.slider-search {
    height: 105px;
    width: 60%;
    background-color: #fff;
    border-radius: 6px;
    margin-top: -52px;
    position: absolute;
    z-index: 10;
    margin-left: 20%;
    padding: 30px;
    display: flex;
    box-shadow: 0.5px 0.5px rgb(221, 210, 210);
}

.search-input {
    width: 75%;
    border: 1px solid rgb(159, 149, 149);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
    font-size: 16px;
}

.search-btn {
    width: 25%;
    border: 1px solid rgb(159, 149, 149);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;
    background-color: #22a6b3;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.search-btn:hover {
    background-color: #00d084;
}

#content {
    margin-top: 140px;
    margin-bottom: 100px;
}

.content-header {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: auto;
    padding: 32px 0;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0.5px 0.5px rgb(221, 210, 210);
    border-radius: 6px;
}

.content-header-logo1 {
    display: flex;
    width: 30%;
}

.content-logo1-sticker {
    width: 75px;
    height: 75px;
    margin-right: 16px;
}

.content-logo1-title {

}

.content-logo1-text {
    max-width: 220px;
    margin-top: 8px;
    line-height: 1.4;
}

.content-header-logo2 {
    display: flex;
    width: 30%;
}

.content-logo2-sticker {
    width: 65px;
    height: 65px;
    margin-right: 16px;
}

.content-logo2-title {

}

.content-logo2-text {
    max-width: 220px;
    margin-top: 8px;
    line-height: 1.4;
}

.content-header-logo3 {
    display: flex;
}

.content-logo3-sticker {
    width: 70px;
    height: 70px;
    margin-right: 16px;
}

.content-logo3-title {

}

.content-logo3-text {
    max-width: 220px;
    margin-top: 8px;
    line-height: 1.4;
}

.content-destinations {
    margin-top: 80px;
}

.destinations-title {
    display: flex;
    line-height: 32px;
    margin-left: 100px;
    margin-bottom: 40px;
}

.destinations-text {
    font-size: 28px;
    margin-right: 4px;
}

.destinations-view {
    color: #22a6b3;
    font-weight: 600;
}


.destinations-view:hover {
    color: #00d084;
}

.destinations-pic {
    display: flex;
    margin: 0 100px;
    justify-content: space-between;
    font-weight: 600;
}

.destinations-pic-tour {
    color: #fff;
    text-align: center;
    background-color: #22a6b3;
    font-size: 18px;
    width: 70px;
    border-radius: 4px;
    padding: 4px 0;
    position: absolute;
    top: 16px;
    right: 16px;
}

.destinations-pic1 {
    background: url(./Img/lan1-anh1.jpg) no-repeat;
    width: 32%;
    min-height: 410px;
    background-size: cover;
    border-radius: 6px;
    position: relative;
}
 
.destinations-pic2 {
    background-image: url(/Img/lan1-anh2.jpg);
    width: 32%;
    min-height: 410px;
    background-size: cover;
    border-radius: 6px;
    position: relative;
}

.destinations-pic3 {
    background-image: url(./Img/lan1-anh3.jpg);
    width: 32%;
    min-height: 410px;
    background-size: cover;
    border-radius: 6px;
    position: relative;
}

.destinations-pic-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 6px;
    display: none;
}

.destinations-pic1:hover .destinations-pic-content {
    display: flex;
}

.destinations-pic2:hover .destinations-pic-content {
    display: flex;
}

.destinations-pic3:hover .destinations-pic-content {
    display: flex;
}

.activities-pic1:hover .destinations-pic-content {
    display: flex;
}

.activities-pic2:hover .destinations-pic-content {
    display: flex;
}

.activities-pic3:hover .destinations-pic-content {
    display: flex;
}

.activities-pic4:hover .destinations-pic-content {
    display: flex;
}

.destinations-pic-title {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
}

.destinations-pic-text {
    color: #fff;
    margin: 30px;
    font-weight: 900;
}

.destinations-pic-a {
    color: #00d084;
    font-weight: 900;
}

.container-dolpo {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.dolpo-content {
    padding-right: 100px;
}

.dolpo-title {
    font-size: 28px;
}

.dolpo-text {
    padding: 40px 0;
}

.dolpo-pricing {
    font-size: 18px;
}

.actual-price {
    text-decoration: line-through;
    font-size: 20px;
}

.discounted-price {
    font-size: 22px;
    font-weight: 900;
}

.dolpo-person {
    font-size: 16px;
}

.dolpo-btn {
    width: 140px;
    height: 50px;
    margin-top: 40px;
    color: #fff;
    background-color: #22a6b3;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.dolpo-btn:hover {
    background-color: #00d084;
}

.dolpo-pic-1 {
    width: 50%;
    border-radius: 6px;
    min-width: 500px;
}

.container-activities {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.activities-pic1 {
    background-image: url(./Img/lan3-anh1.jpg);
    width: 24%;
    min-height: 300px;
    background-size: cover;
    border-radius: 6px;
    position: relative;
}

.activities-pic2 {
    background-image: url(./Img/lan3-anh2.jpg);
    width: 24%;
    min-height: 300px;
    background-size: cover;
    border-radius: 6px;
    position: relative;
}

.activities-pic3 {
    background-image: url(./Img/lan3-anh3.jpg);
    width: 24%;
    min-height: 300px;
    background-size: cover;
    border-radius: 6px;
    position: relative;
}

.activities-pic4 {
    background-image: url(./Img/lan3-anh4.jpg);
    width: 24%;
    min-height: 300px;
    background-size: cover;
    border-radius: 6px;
    position: relative;
}

.tour {
    font-size: 28px;
    margin-right: 4px;
    font-weight: 900;
    text-align: center;
}

.container-tours {
    padding: 40px 100px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tours-1 {
    background-color: #fff;
    width: 32%;
    border-radius: 6px;
    position: relative;
    margin-bottom: 24px;
    min-width: 400px;
}

.tour-sale {
    position: absolute;
    color: #fff;
    text-align: center;
    background-color: #22a6b3;
    font-size: 18px;
    width: 70px;
    border-radius: 4px;
    padding: 4px 0;
    top: 16px;
    right: 16px;
}

.tours-pic {

}

.tours-picture {
    width: 100%;
    height: 240px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tours-title {
    font-size: 20px;
    font-weight: 900;
    margin: 12px;
}

.tours-title-color {
    color: #000;
}

.tours-title-color:hover {
    color: #22a6b3;
}

.tours-time-price {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.tours-featured {
    text-align: center;
    width: 100px;
    background-color: #00d084;
    padding: 6px;
    color: #fff;
    font-weight: 900;
    border-radius: 6px;
    margin: 12px;
}

.tours-time {

}

.tours-price {
    display: flex;
    flex-direction: column;
    margin-top: -24px;
    margin-right: 12px;
}

.price-color {
    color: #22a6b3;
}

.view-all {
    text-align: center;
    margin-top: -30px;
}

.container-cmt {
    padding: 80px 140px 80px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-trip {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip-logo {
    width: 160px;
}

.logo-size {

}

.trip-excellent {
    font-weight: 900;
    color: #22a6b3;
}

.trip-based {
    font-weight: 900;
}

.fa-star,
.fa-check {
    color: #00d084;
    margin-bottom: 8px;
    font-size: 20px;
}

.container-user {
    background-color: #fff;
    width: 23%;
    height: 200px;
    padding: 16px;
    overflow-y: scroll;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.096);
}

::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #22a6b3;
}

.user-logo {

}

.cmt-user {
    display: flex;
}

.user-ava {

}

.user-ava-size {
    border-radius: 50%;
    width: 50px;
    margin-right: 12px;
}

.user-name-time {

}

.user-name {
    font-weight: 900;
    margin-bottom: 4px;
}

.user-time {
    font-size: 12px;
}

.user-cmt-title {
    font-weight: 900;
    font-size: 14px;
}

.user-cmt-text {
    font-size: 14px;
}

.user-icon {
    width: 20px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.container-reasons {
    background: url(./Img/nen2.jpg) top center no-repeat;
    background-size: cover;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.reasons-title {  
    color: #fff;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 900; 
}

.reasons-content {
    color: #fff;
    font-weight: 900; 
    margin: 20px 0 0 0;
    text-align: center;
    max-width: 800px;
}

.container-blog {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}

.blog-pic {
    width: 32%;
    background-color: #fff;
    border-radius: 6px;
    padding-bottom: 12px;
}

.pic-img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.blog-text {
    padding-left: 20px;
    padding-right: 20px;
}

.blog-title {
    color: #000;
    font-weight: 900;
    font-size: 24px;
}

.blog-title:hover {
    color: #22a6b3;
}

.blog-content {

}

.blog-inf {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.fa-user,
.fa-calendar {
    opacity: 0.5;
}
